In [2]:
import pandas as pd

# Define the correct path within the Codespace
file_path = './real_estate.csv'  # Adjust if it's in a subfolder

# Read the CSV file
ds = pd.read_csv(file_path, sep=';', encoding='utf-8', engine='python')

# Display the first few rows
print(ds.head())

   Unnamed: 0  id_realEstates  isNew                    realEstate_name  \
0           1       153771986  False            ferrari 57 inmobiliaria
1           2       153867863  False  tecnocasa fuenlabrada ferrocarril
2           3       153430440  False                 look find boadilla
3           4       152776331  False  tecnocasa fuenlabrada ferrocarril
4           5       153180188  False            ferrari 57 inmobiliaria

   phone_realEstate                                       url_inmueble  rooms  \
0       912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    3.0
1       916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    3.0
2       916350408.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    2.0
3       916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    3.0
4       912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    2.0

   bathrooms  surface   price  ... level4Id level5Id level6Id level7Id  \
0        2.0    103.0  195000  ...        0        0        0        0
1        1.0      NaN   89000  ...        0        0        0        0
2        2.0     99.0  390000  ...        0        0        0        0
3        1.0     86.0   89000  ...        0        0        0        0
4        2.0    106.0  172000  ...        0        0        0        0

  level8Id accuracy          latitude          longitude zipCode customZone
0        0        0  40,2948276786438  -3,44402412135624     NaN        NaN
1        0        1          40,28674           -3,79351     NaN        NaN
2        0        0  40,4115646786438  -3,90662252135624     NaN        NaN
3        0        0  40,2853785786438  -3,79508142135624     NaN        NaN
4        0        0  40,2998774864376  -3,45226301356237     NaN        NaN

[5 rows x 37 columns]

In [3]:
# Find the most expensive house
most_expensive = ds.loc[ds['price'].idxmax()]  # Assuming 'price' is the column with house prices

# Display the details of the most expensive house
address = most_expensive['address']  # Assuming 'address' is the column for house addresses
price = most_expensive['price']

print(f"The house with address {address} is the most expensive and its price is {price} USD.")

The house with address El Escorial is the most expensive and its price is 8500000 USD.